body {
  background-color: #e4f9f5;
  color:#40514E;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66BFBF;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem; /*=512%, =16px*/
  /* line-height: 2; */
  margin: 50px auto 0px auto;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: #d3d8d8;
  border-width: 6px;
  /* height: 0px; */
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
  
}
.middle-container {
  /* background-color: #e4f9f5; */
  margin: 100px 0px;  
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0px 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.Web-Development {
  border-radius: 30%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Competitive-Programming {
  border-radius: 30%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Martial-Arts {
  border-radius: 30%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

/*.Description-1 {
  clear: left;
}

.Description-2 {
  clear: right;
}

.Description-3 {
  clear: left;
}*/

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px
}

